@using ELEARN.ViewModels;

@model HomeVM

@{
    ViewData["Title"] = "Home";
}






<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
    <div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
    <div class="search">
        <form action="#" class="header_search_form menu_mm">
            <input type="search" class="search_input menu_mm" placeholder="Search" required="required">
            <button class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
                <i class="fa fa-search menu_mm" aria-hidden="true"></i>
            </button>
        </form>
    </div>
    <nav class="menu_nav">
        <ul class="menu_mm">
            <li class="menu_mm"><a href="index-2.html">Home</a></li>
            <li class="menu_mm"><a href="courses.html">Courses</a></li>
            <li class="menu_mm"><a href="instructors.html">Instructors</a></li>
            <li class="menu_mm"><a href="#">Events</a></li>
            <li class="menu_mm"><a href="blog.html">Blog</a></li>
            <li class="menu_mm"><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
    <div class="menu_extra">
        <div class="menu_phone"><span class="menu_title">phone:</span>(009) 35475 6688933 32</div>
        <div class="menu_social">
            <span class="menu_title">follow us</span>
            <ul>
                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="home">
    <div class="home_slider_container">

        <div class="owl-carousel owl-theme home_slider">

           @foreach (var slider in Model.Sliders)
            {
                <div class="owl-item">

                    <div class="home_slider_background" style="background-image:url(images/@slider.Image)"></div>
                    <div class="home_container">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="home_content text-center">
                                        <div class="home_logo"><img src="~/images/home_logo.png" alt=""></div>
                                        <div class="home_text">
                                            <div class="home_title">@slider.Title</div>
                                            <div class="home_subtitle">@slider.Description</div>
                                        </div>
                                        <div class="home_buttons">
                                            <div class="button home_button"><a href="#">learn more<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
                                            <div class="button home_button"><a href="#">see all courses<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

          
        </div>
    </div>
</div>

<div class="featured">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="home_slider_nav_container d-flex flex-row align-items-start justify-content-between">
                    <div class="home_slider_nav home_slider_prev trans_200"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                    <div class="home_slider_nav home_slider_next trans_200"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                </div>
                <div class="featured_container">
                    <div class="row">
                        <div class="col-lg-6 featured_col">

                            @{
                                Course course1 = @Model.Courses.OrderByDescending(m => m.CreateTime).FirstOrDefault();
                            }

                            <div class="featured_content">
                                <div class="featured_header d-flex flex-row align-items-center justify-content-start">
                                    <div class="featured_tag"><a href="#">Featured</a></div>
                                    <div class="featured_price ml-auto">Price: <span>$@course1.Price</span></div>
                                </div>
                                <div class="featured_title"><h3><a href="courses.html">@course1.Name</a></h3></div>
                                <div class="featured_text">@course1.Description</div>
                                <div class="featured_footer d-flex align-items-center justify-content-start">
                                    <div class="featured_author_image"><img src="~/images/@course1.Author.Image" alt=""></div>
                                    <div class="featured_author_name">By <a href="#">@course1.Author.Name</a></div>
                                    <div class="featured_sales ml-auto"><span>@course1.Author.SaleCount</span> Sales</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 featured_col">
                            <div class="featured_background" style="background-image:url(images/@course1.CourseImages.FirstOrDefault()?.Image)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="courses">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="section_title text-center"><h2>Choose your course</h2></div>
                <div class="section_subtitle">Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem venenatis in. Aenean id varius quam. Nullam bibendum interdum dui, ac tempor lorem convallis ut</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="course_search">
                    <form action="#" class="course_search_form d-flex flex-md-row flex-column align-items-start justify-content-between">
                        <div><input type="text" class="course_input" placeholder="Course" required="required"></div>
                        <div><input type="text" class="course_input" placeholder="Level" required="required"></div>
                        <button class="course_button"><span>search course</span><span class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <div class="courses_slider_container">
                    <div class="owl-carousel owl-theme courses_slider">

                      @foreach (var course in Model.Courses)
                        {
                            <div class="owl-item">
                                <div class="course">
                                    <div class="course_image"><img src="~/images/@course.CourseImages.FirstOrDefault(m=>!m.SoftDelete)?.Image" alt=""></div>
                                    <div class="course_body">
                                        <div class="course_header d-flex flex-row align-items-center justify-content-start">
                                            <div class="course_tag"><a href="#">Featured</a></div>
                                            <div class="course_price ml-auto">Price: <span>$@course.Price</span></div>
                                        </div>
                                        <div class="course_title"><h3><a href="courses.html">@course.Name</a></h3></div>
                                        <div class="course_text">@course.Description</div>
                                        <div class="course_footer d-flex align-items-center justify-content-start">
                                            <div class="course_author_image"><img src="~/images/@course.Author.Image" alt="https://unsplash.com/@@anthonytran"></div>
                                            <div class="course_author_name">By <a href="#">@course.Author.Name</a></div>
                                            <div class="course_sales ml-auto"><span>@course.Author.SaleCount</span> Sales</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                      
                    </div>

                    <div class="courses_slider_nav courses_slider_prev trans_200"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                    <div class="courses_slider_nav courses_slider_next trans_200"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="milestones">

    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/milestones.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row milestones_container">

            <div class="col-lg-3 milestone_col">
                <div class="milestone text-center">
                    <div class="milestone_icon"><img src="~/images/milestone_1.svg" alt=""></div>
                    <div class="milestone_counter" data-end-value="1548">0</div>
                    <div class="milestone_text">Online Courses</div>
                </div>
            </div>

            <div class="col-lg-3 milestone_col">
                <div class="milestone text-center">
                    <div class="milestone_icon"><img src="~/images/milestone_2.svg" alt=""></div>
                    <div class="milestone_counter" data-end-value="7286">0</div>
                    <div class="milestone_text">Students</div>
                </div>
            </div>

            <div class="col-lg-3 milestone_col">
                <div class="milestone text-center">
                    <div class="milestone_icon"><img src="~/images/milestone_3.svg" alt=""></div>
                    <div class="milestone_counter" data-end-value="257">0</div>
                    <div class="milestone_text">Teachers</div>
                </div>
            </div>

            <div class="col-lg-3 milestone_col">
                <div class="milestone text-center">
                    <div class="milestone_icon"><img src="~/images/milestone_4.svg" alt=""></div>
                    <div class="milestone_counter" data-end-value="39">0</div>
                    <div class="milestone_text">Countries</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grouped_sections">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 grouped_col">
                <div class="grouped_title">Why Choose Us?</div>
                <div class="accordions">
                    <div class="accordion_container">
                        <div class="accordion d-flex flex-row align-items-center active"><div>Mauris vehicula nisi congue?</div></div>
                        <div class="accordion_panel">
                            <div>
                                <p>Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem venenatis in. Aenean id varius quam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion_container">
                        <div class="accordion d-flex flex-row align-items-center"><div>Vehicula nisi congue, blandit?</div></div>
                        <div class="accordion_panel">
                            <div>
                                <p>Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem venenatis in. Aenean id varius quam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion_container">
                        <div class="accordion d-flex flex-row align-items-center"><div>Mauris vehicula nisi congue?</div></div>
                        <div class="accordion_panel">
                            <div>
                                <p>Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem venenatis in. Aenean id varius quam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion_container">
                        <div class="accordion d-flex flex-row align-items-center"><div>Nisi congue, blandit purus sed?</div></div>
                        <div class="accordion_panel">
                            <div>
                                <p>Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem venenatis in. Aenean id varius quam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 grouped_col">
                <div class="grouped_title">Upcoming Events</div>
                <div class="events">

                   @foreach (var item in Model.Events)
                    {
                        <div class="event d-flex flex-row align-items-start justify-content-start">
                            <div>
                                <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                    <div class="event_day">@item.CreateTime.ToString("dd")</div>
                                    <div class="event_month">@item.CreateTime.ToString("MMMM")</div>
                                </div>
                            </div>
                            <div class="event_body">
                                <div class="event_title"><a href="#">@item.Title</a></div>
                                <div class="event_subtitle">@item.Description</div>
                            </div>
                        </div>
                    }

                  
                </div>
            </div>

            <div class="col-lg-4 grouped_col">
                <div class="grouped_title">Latest News</div>
                <div class="news">

                  
                    @foreach (var news in Model.News)
                    {
                        <div class="news_post d-flex flex-row align-items-start justify-content-start">
                            <div><div class="news_post_image"><img src="~/images/@news.Image" alt="https://unsplash.com/@@beccatapert"></div></div>
                            <div class="news_post_body">
                                <div class="news_post_date">@news.CreateTime.ToString("MMMM dd, yyyy")</div>
                                <div class="news_post_title"><a href="news.html">@news.Title</a></div>
                                <div class="news_post_author">By <a href="#">@news.Author</a></div>
                            </div>
                        </div>
                    }

                 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="video">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="video_container_outer">
                    <div class="video_container">

                        <video id="vid1" class="video-js vjs-default-skin" controls data-setup='{ "poster": "images/video.jpg", "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://youtu.be/5_MRXyYjHDk"}], "youtube": { "iv_load_policy": 1 } }'>
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="join">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="section_title text-center"><h2>Join Our Platform Today</h2></div>
                <div class="section_subtitle">Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem venenatis in. Aenean id varius quam. Nullam bibendum interdum dui, ac tempor lorem convallis ut</div>
            </div>
        </div>
    </div>
    <div class="button join_button"><a href="#">register now<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
</div>
